/.vscode
/.vsconfig
/FinalGame.sln
/Library
/Logs
/Temp
/Unity.Hypercasual.csproj
/Unity.Hypercasual.CustomEditors.csproj
/Unity.Hypercasual.Editor.csproj
/Unity.Hypercasual.Tutorials.Editor.csproj
/UserSettings